{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="col">
    <h2>Registro</h2>
    <!-- Formulario -->
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}

                
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
                    

            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
</div>
{% endblock %}
